.navbar {
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-content {
  display: flex;
  background: linear-gradient(90deg, color-mix(in srgb, var(--bg-secondary), transparent 25%), color-mix(in srgb, var(--bg-primary), transparent 25%));
  backdrop-filter: blur(10px);
  border-radius: 4px;
  padding: 8px 16px;
}

.navbar-brand {
  color: var(--text-active);
  width: 30px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

.navbar-link {
  color: #FFF;
  opacity: 0.8;
}

.navbar-link:hover,
.navbar-link.active {
  opacity: 1;
}
