:root {
  --container-max-width: 900px;

  --bg-primary: #31333B;
  --bg-secondary: #3D3E42;
  --bg-tertiary: #5C5E60;
  --bg-active: #F0BF6C;
  --bg-active-bright: #FFE79E;

  --bg-primary-invert: #F8F8F9;

  --text-primary: #F8F8F9;
  --text-active: #F0BF6C;
  --text-active-bright: #FFE79E;

  --text-primary-invert: #31333B;

  --fs-title: 2rem;
  --fw-title: 700;

  --bg-hero: #34353A;

  --shadow: 0 8px 30px #303030;

  --modal-index: 1000;
}

html {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  line-height: 1.2;

  &:has(.open-menu),
  &:has(.modal-overlay) {
    overflow: hidden;
  }
}

.container {
  max-width: var(--container-max-width);
  padding: 0 1.5rem;
  margin: auto;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 4px;
}
